/*Inicialización del estilo a cero*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, 
code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, canvas, 
details, figcaption, figure, footer, header, hgroup, menu, nav, aside,section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	background-color:lightslategray;/*Fondo gris brillante*/
}
header{
	min-height: 40px;
	margin-left:10%;
	margin-right:10%;
	background-color:black;
	width: 80%;
}
/*******logo RIAtec********/
header img{
	/*tamaño de la imagen*/
	width:20%;
	height:10%;
	/*posicionamiento de la imagen*/
	float:left;
	padding-top:1%;
	padding-left:2%;
}
/**********NAV*********/
nav{
	width: 70%;	/*tamaño del menú*/
	/*posicionamiento del menú*/
	padding: 2%;
	float: right;
}
nav ul {
	text-transform: uppercase;/*a MAYÚSCULAS*/
	float: right;/*posición del menú*/
}
nav ul li {
	/*letra del menú*/
	font-family: Arial;
	font-weight: bold;
	/*posicionamiento de los elementos del menú*/
	float: left;
	margin-right: 10px;
}
nav ul li a {
	color: white;
	display: block;/*tipo de caja*/
	padding: 10px;
	text-decoration:none;/*eliminar línea inferior de las referencias*/
}