/*Inicialización del estilo a cero*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, 
code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, canvas, 
details, figcaption, figure, footer, header, hgroup, menu, nav, aside,section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	background-color:grey;/*Fondo gris*/
}
header{
	margin-left:10%;
	margin-right:10%;
	background-color:black;
}
/*logo RIAtec*/
header div img{
	/*tamaño de la imagen*/
	width:20%;
	height:10%;
	/*posicionamiento de la imagen*/
	padding-top:2%;
	padding-left:2%;
}
aside{

border:2px solid #a1a1a1;
padding:10px 40px; 
border-radius:25px;


	float:left;
	background-color: #3399CC ;
	height:20%;
	width:100%;
}
#section1{
	width:20%;
	background-color:#993300;
	float:left;
	text-align: center;
	font-size:30px;
	text-shadow: 2px 2px #999999;
}
#section2{
	width:35%;
	background-color:#800000;
	float:left;
}
#section3{
	width: 35%;
	background-color:#650070;
	float:left;
}
